<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <link rel="stylesheet" href="/css/admin/admin-notice-detail.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<th:block th:replace="admin/adminHeader :: headerLayout"></th:block>
<div class="ft">
  <div class="admin2-main-container">
    <div class="admin2-main-title">
      <h1>공지사항 상세</h1>
      <div class="admin2-split-div-post"></div>
      <div class="container"></div>
      <form id="frm" method="post">
        <input type="hidden" name="id" th:value="${notice.id}" />
        <table class="admin2-board_detail">
          <tbody>
          <tr>
            <th>글 번호</th>
            <td th:text="${notice.id }"></td>
            <th>조회수</th>
            <td th:text="${notice.hits }"></td>
          </tr>
          <tr>
            <th>작성일</th>
            <td th:text="${#temporals.format(now, 'yyyy-MM-dd').equals(#temporals.format(notice.createdAt, 'yyyy-MM-dd'))} ? ${#temporals.format(notice.createdAt, 'HH:mm')} : ${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}"></td>
          </tr>
          <tr>
            <th>제목</th>
            <td colspan="3"><input type="text" id="title" name="title" th:value="${notice.title }"
                                   th:attr="readonly=${session.authInfo == null || session.authInfo.role != 'ADMIN'}"/></td>
          </tr>
          <tr>
            <th>내용</th>
            <td colspan="3"><textarea title="내용" id="content" name="content" th:text="${notice.content }"
                                      th:attr="readonly=${session.authInfo == null || session.authInfo.role != 'ADMIN'}"></textarea>
            </td>
          </tr>
          <th:block th:if="${notice.files != null and !notice.files.isEmpty()}">
            <tr>
              <th>첨부 파일</th>
              <td colspan="3">
                <div th:each="file : ${notice.files}">
                  <div th:if="${#strings.endsWith(file.fileName, '.jpg') or                         #strings.endsWith(file.fileName, '.jpeg') or
                         #strings.endsWith(file.fileName, '.png') or
                         #strings.endsWith(file.fileName, '.gif')}">
                    <img th:src="${file.filePath}" alt="Uploaded Image" style="max-width: 300px;" />
                    <br />
                    <a th:href="@{/download(filename=${file.fileName})}" download>
                      <img th:src="@{/images/file40.png}" alt="파일 다운로드 이미지" style="width: 30px; height: 30px;" />
                    </a>
                  </div>
                  <div th:if="${file.fileName != null and file.fileName != '' and !(#strings.endsWith(file.fileName, '.jpg') or                                                                  #strings.endsWith(file.fileName, '.jpeg') or
                                                                  #strings.endsWith(file.fileName, '.png') or
                                                                  #strings.endsWith(file.fileName, '.gif'))}">
                    <p th:text="${file.fileName}"></p>
                    <a th:href="@{/download(filename=${file.fileName})}" download>
                      <img th:src="@{/images/file40.png}" alt="파일 다운로드 이미지" style="width: 30px; height: 30px;" />
                    </a>
                  </div>
            </td>
          </tr>
          </th:block>
          </tbody>
        </table>
      </form>
      <div class="admin2-button-group">
        <a href="#this" id="list" class="mbtn" >목록으로</a>
        <a href="#this" id="edit" class="rbtn" th:if="${session.authInfo != null and session.authInfo.role == 'ADMIN'}">수정하기</a>
        <a href="#this" id="delete" class="dbtn" th:if="${session.authInfo != null and session.authInfo.role == 'ADMIN'}">삭제하기</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.getElementById("list").addEventListener("click", function(){
      window.location.href = "/admin/notice";
    });

    var editButton = document.getElementById("edit");
    if (editButton) {
      editButton.addEventListener("click", function(){
        var frm = document.getElementById("frm");
        frm.action = "/admin/notice/update";
        frm.submit();
      });
    }

    var deleteButton = document.getElementById("delete");
    if (deleteButton) {
      deleteButton.addEventListener("click", function(){
        var frm = document.getElementById("frm");
        frm.action = "/admin/notice/delete";
        frm.submit();
      });
    }
  });
</script>
<div class="footers"></div> <!-- 이거 지우면 안됨 -->
<th:block th:replace="layout/footer :: footerLayout"></th:block>
</body>
</html>
