<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  <link rel="stylesheet" href="/css/admin/admin-faq.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<th:block th:replace="admin/adminHeader :: headerLayout"></th:block>
<div class="ft">
  <div class="admin7-list-container">
    <div class="admin7-main-tihome">
      <div class="admin7-main-title">
        <h1 class="admin7-list-title">FAQ 목록</h1>
        <div class="admin7-split-div-post"></div>
      </div>
    </div>
    <div class="split--div-post"></div>
    <table class="admin7-post-table">
      <thead>
      <tr class="admin7-post-tbody-tr">
        <th>제목</th>
      </tr>
      </thead>
      <tbody>
      <th:block  th:if="${#lists.size(faqs)} > 0" th:each="faq, stat : ${faqs}">
        <tr class="post-tbody-tr2" th:id="${faq.id}">
          <td class="title"><a href="/admin/faq/detail?id=" th:attrappend="href=${faq.id}" th:text="${faq.title}"></a></td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <a th:href="@{/admin/faq/write}" class="admin7-write-button">글쓰기</a>
  </div>
  <!-- 페이징 -->
  <div th:if="${faqs != null and !faqs.isEmpty()}" class="text-center">
    <!-- 전역 변수 선언 -->
    <nav
            th:with="pageNumber = ${faqs.pageable.pageNumber}, pageSize = ${faqs.pageable.pageSize},totalPages = ${faqs.totalPages},startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},tempEndPage = ${startPage + pageSize - 1},endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
            aria-label="Page navigation"
    >
      <ul class="pagination">
        <!-- 처음으로 이동 -->
        <li th:classappend="${pageNumber == 0} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/admin/faq(page=0)}">
            <span>&laquo;</span>
          </a>
        </li>

        <!-- 이전으로 이동 -->
        <li th:classappend="${faqs.first} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${faqs.first} ? '#' : @{/admin/faq(page=${pageNumber - 1})}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <!-- 특정 페이지로 이동 -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{/admin/faq(page=${page - 1})}"></a>
        </li>

        <!-- 다음으로 이동 -->
        <li th:classappend="${faqs.last} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${faqs.last} ? '#' : @{/admin/faq(page=${pageNumber + 1})}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>

        <!-- 마지막으로 이동 -->
        <li th:classappend=" ${pageNumber >= totalPages - 1} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/admin/faq(page=${totalPages - 1})}">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="footers"></div> <!-- 이거 지우면 안됨 -->
<th:block th:replace="layout/footer :: footerLayout"></th:block>
<script>
  document.querySelectorAll('.post-tbody-tr2').forEach(function(tr){
    tr.addEventListener('click', function () {
      let index = tr.id.trim();
      window.location.href = '/admin/faq/detail?id=' + index;
    })
  })
</script>
<div class="footers"></div> <!-- 이거 지우면 안됨 -->
<th:block th:replace="layout/footer :: footerLayout"></th:block>
</body>
</html>